$pink: #fb005b;
$grey: #f4f4f4;
$dark_grey: #98a1aa;
$super_dark_grey: #2e4152;
$white: #ffffff;

body{
	font-family: "Open Sans", sans-serif;
}
figure{
	margin: auto;
}
img{
	max-width: 100%;
}

.header-portfolio{
	position: relative;
	height: 600px;
	background-image: url('../img/bg.jpg');
	background-position: top center;
	background-attachment: fixed;
	.header-tint{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		justify-content: center;
		align-items: center;		
		background-color: rgba(46, 65, 82, 0.5);
		.header-content{
			width: 640px;
			.logo-container{
				text-align: center;
				margin: 0 auto 20px;
				.logo-link{
					display: inline-block;
					border-radius: 50%;
					img{
						border-radius: 50%;
						width: 100px;
					}
				}
			}
			.author-container{
				display: flex;
				justify-content: center;
				align-items: center;		
				margin-bottom: 20px;		
				.author{
					text-transform: uppercase;
					border: 3px solid $white;
					padding: 4px 8px;
					color: $white;
					font-size: 2.5em;
				}
			}
			.professions{
				text-align: center;
				color: white;
				text-transform: uppercase;
				font-size: 1.5em;	
				margin-bottom: 20px;
			}
			.header-social{
				text-align: center;
				a{
					padding: 7px;
					border-radius: 50%;
					border: 2px solid $white;
					margin: 0 auto;
					display: inline-block;
					height: 25px;
					width: 25px;
					transition: all 0.3s ease-in-out;
					&:hover{
						background-color: $pink;
					}
				}
			}
		}
	}
}