body {
  font-family: "Open Sans", sans-serif; }

figure {
  margin: auto; }

img {
  max-width: 100%; }

.percent_80 {
  width: 80%; }

.percent_75 {
  width: 75%; }

.header-portfolio {
  position: relative;
  height: 600px;
  background-image: url("../img/bg.jpg");
  background-position: bottom center;
  background-attachment: fixed;
  margin-bottom: 80px; }
  .header-portfolio .header-tint {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 65, 82, 0.5); }
    .header-portfolio .header-tint .header-content {
      width: 640px; }
      .header-portfolio .header-tint .header-content .logo-container {
        text-align: center;
        margin: 0 auto 20px; }
        .header-portfolio .header-tint .header-content .logo-container .logo-link {
          display: inline-block;
          border-radius: 50%; }
          .header-portfolio .header-tint .header-content .logo-container .logo-link img {
            border-radius: 50%;
            width: 100px; }
      .header-portfolio .header-tint .header-content .author-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px; }
        .header-portfolio .header-tint .header-content .author-container .author {
          font-weight: bold;
          text-transform: uppercase;
          border: 3px solid #ffffff;
          padding: 4px 8px;
          color: #ffffff;
          font-size: 2.15em; }
      .header-portfolio .header-tint .header-content .professions {
        text-align: center;
        color: white;
        text-transform: uppercase;
        font-size: 1.15em;
        margin-bottom: 20px; }
      .header-portfolio .header-tint .header-content .header-social {
        text-align: center; }
        .header-portfolio .header-tint .header-content .header-social a {
          padding: 7px;
          border-radius: 50%;
          border: 2px solid #ffffff;
          margin: 0 auto;
          display: inline-block;
          height: 25px;
          width: 25px;
          transition: all 0.3s ease-in-out; }
          .header-portfolio .header-tint .header-content .header-social a:hover {
            background-color: #fb005b; }

.section-content {
  position: relative;
  color: #2e4152; }
  .section-content .article-about-me {
    max-width: 640px;
    padding: 0 10px;
    margin: 0 auto 80px; }
    .section-content .article-about-me h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    .section-content .article-about-me hr {
      border-top: 3px solid #2e4152;
      width: 60px; }
    .section-content .article-about-me p {
      text-align: justify;
      font-weight: normal; }
    .section-content .article-about-me .paragraph-focus {
      font-weight: bold; }
    .section-content .article-about-me .about-me-container {
      margin: 0 auto; }
      .section-content .article-about-me .about-me-container .sub-title {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold; }
      .section-content .article-about-me .about-me-container .personal-details {
        margin-bottom: 2.5rem; }
        .section-content .article-about-me .about-me-container .personal-details .table-personal-details {
          margin: 0 auto; }
          .section-content .article-about-me .about-me-container .personal-details .table-personal-details td {
            border-bottom: 0;
            padding: 0 0 10px; }
            .section-content .article-about-me .about-me-container .personal-details .table-personal-details td:nth-child(2) {
              padding: 0 5px 10px; }
          .section-content .article-about-me .about-me-container .personal-details .table-personal-details .label-title {
            font-weight: bold; }
      .section-content .article-about-me .about-me-container .hobby-interests .hobby-interests-row {
        color: #f4f4f4; }
        .section-content .article-about-me .about-me-container .hobby-interests .hobby-interests-row figure {
          margin-bottom: 20px;
          opacity: 0;
          transform: translateX(-20px);
          transition: all 0.3s ease-in-out; }
          .section-content .article-about-me .about-me-container .hobby-interests .hobby-interests-row figure.is-showing {
            opacity: 1;
            transform: translateX(0px); }
          .section-content .article-about-me .about-me-container .hobby-interests .hobby-interests-row figure .hobbies-interests-container {
            width: 100px;
            height: 100px;
            background: #2e4152;
            border-radius: 50%;
            margin: 0 auto;
            position: relative; }
            .section-content .article-about-me .about-me-container .hobby-interests .hobby-interests-row figure .hobbies-interests-container .icon-container {
              position: absolute;
              width: 100px;
              left: 50%;
              margin-left: -50px;
              top: 50%;
              margin-top: -25px; }
              .section-content .article-about-me .about-me-container .hobby-interests .hobby-interests-row figure .hobbies-interests-container .icon-container img {
                display: block;
                width: 30px;
                margin: 0 auto 3px; }
              .section-content .article-about-me .about-me-container .hobby-interests .hobby-interests-row figure .hobbies-interests-container .icon-container figcaption {
                color: #f4f4f4;
                text-align: center; }
  .section-content .article-resume {
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 80px; }
    .section-content .article-resume h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    .section-content .article-resume hr {
      border-top: 3px solid #2e4152;
      width: 60px; }
    .section-content .article-resume .resume-container {
      max-width: 640px;
      margin: 0 auto;
      position: relative; }
      .section-content .article-resume .resume-container figure {
        opacity: 0;
        transform: translateY(-20px);
        transition: all 0.3s ease-in-out; }
        .section-content .article-resume .resume-container figure.is-showing {
          opacity: 1;
          transform: translateY(0px); }
        .section-content .article-resume .resume-container figure h5 {
          border-radius: 5px;
          display: inline-block;
          color: #2e4152;
          padding: 7px 14px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 0; }
        .section-content .article-resume .resume-container figure .big-resume-title {
          background-color: #cccccc; }
        .section-content .article-resume .resume-container figure .vertical-line {
          border-right: 3px solid #cccccc;
          height: 30px;
          width: 50%; }
        .section-content .article-resume .resume-container figure .icon-resume {
          padding: 7px;
          border-radius: 50%;
          margin: 0 auto;
          height: 25px;
          width: 25px;
          background-color: #fb005b; }
        .section-content .article-resume .resume-container figure .small-circle {
          border-radius: 50%;
          margin: 0 auto;
          height: 10px;
          width: 10px;
          background-color: #fb005b; }
        .section-content .article-resume .resume-container figure p {
          margin-bottom: 0; }
  .section-content .article-my-services {
    text-align: center; }
    .section-content .article-my-services h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    .section-content .article-my-services hr {
      border-top: 3px solid #2e4152;
      width: 60px; }
    .section-content .article-my-services .my-services-container {
      max-width: 640px;
      margin: 0 auto;
      position: relative; }
      .section-content .article-my-services .my-services-container .my-services-row figure {
        margin-bottom: 3.5rem;
        opacity: 0;
        transform: translateX(20px);
        transition: all 0.3s ease-in-out; }
        .section-content .article-my-services .my-services-container .my-services-row figure.is-showing {
          opacity: 1;
          transform: translateX(0px); }
        .section-content .article-my-services .my-services-container .my-services-row figure .detail-services-container {
          width: 200px;
          height: 200px;
          background: #fb005b;
          border-radius: 5px;
          margin: 0 auto;
          position: relative; }
          .section-content .article-my-services .my-services-container .my-services-row figure .detail-services-container .icon-services-container {
            position: absolute;
            width: 200px;
            left: 50%;
            margin-left: -100px;
            top: 50%;
            margin-top: -50px; }
            .section-content .article-my-services .my-services-container .my-services-row figure .detail-services-container .icon-services-container img {
              display: block;
              width: 60px;
              margin: 0 auto 3px; }
            .section-content .article-my-services .my-services-container .my-services-row figure .detail-services-container .icon-services-container figcaption {
              color: #ffffff;
              text-align: center;
              text-transform: uppercase;
              font-weight: bold;
              font-size: 2.4rem; }
  .section-content .article-skills {
    background-color: #f4f4f4;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-top: 40px;
    margin-bottom: 80px; }
    .section-content .article-skills h3, .section-content .article-skills .sub-title {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    .section-content .article-skills .sub-title {
      margin-bottom: 3.5rem; }
    .section-content .article-skills hr {
      border-top: 3px solid #2e4152;
      width: 60px; }
    .section-content .article-skills .skills-container {
      max-width: 640px;
      margin: 0 auto;
      padding: 0 10px; }
      .section-content .article-skills .skills-container .skills-row {
        margin-bottom: 10px; }
        .section-content .article-skills .skills-container .skills-row .label-skills-columns .label-skills {
          text-align: right; }
        .section-content .article-skills .skills-container .skills-row .percentage-skills-columns {
          display: flex;
          align-items: center; }
          .section-content .article-skills .skills-container .skills-row .percentage-skills-columns .percentages-line, .section-content .article-skills .skills-container .skills-row .percentage-skills-columns .percentages-number {
            display: inline-block; }
          .section-content .article-skills .skills-container .skills-row .percentage-skills-columns .percentages-line {
            height: 5px;
            background-color: #fb005b; }
          .section-content .article-skills .skills-container .skills-row .percentage-skills-columns .percentages-number {
            margin-left: 10px; }
  .section-content .article-my-works {
    text-align: center; }
    .section-content .article-my-works h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    .section-content .article-my-works hr {
      border-top: 3px solid #2e4152;
      width: 60px; }
    .section-content .article-my-works .my-works-container {
      max-width: 640px;
      margin: 0 auto;
      position: relative; }
      .section-content .article-my-works .my-works-container .my-works-row .my-works {
        margin-bottom: 3.5rem;
        background-color: white;
        position: relative;
        opacity: 0;
        transition: all 0.3s ease-in-out; }
        .section-content .article-my-works .my-works-container .my-works-row .my-works:first-child {
          transform: translateX(-20px); }
        .section-content .article-my-works .my-works-container .my-works-row .my-works:nth-child(2) {
          transform: translateX(20px); }
        .section-content .article-my-works .my-works-container .my-works-row .my-works.is-showing {
          opacity: 1;
          transform: translateX(0px); }
        .section-content .article-my-works .my-works-container .my-works-row .my-works .my-detail-works {
          border: 1px solid #e1e1e1;
          margin: 0 10px; }
          .section-content .article-my-works .my-works-container .my-works-row .my-works .my-detail-works .link-image {
            display: block;
            margin-bottom: 40px; }
            .section-content .article-my-works .my-works-container .my-works-row .my-works .my-detail-works .link-image img {
              height: auto;
              display: block; }
          .section-content .article-my-works .my-works-container .my-works-row .my-works .my-detail-works .btn-visit {
            border: none;
            background-color: #2e4152;
            color: #ffffff;
            font-weight: bold;
            transition: all 0.3s ease-in-out; }
            .section-content .article-my-works .my-works-container .my-works-row .my-works .my-detail-works .btn-visit:hover {
              color: #ffffff;
              background-color: #fb005b; }

footer {
  background-color: #2e4152;
  color: #ffffff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  margin-top: 40px; }
  footer h3, footer .sub-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold; }
  footer .sub-title {
    margin-bottom: 3.5rem; }
  footer hr {
    border-top: 3px solid #ffffff;
    width: 60px; }
  footer .contact-container {
    max-width: 640px;
    margin: 0 auto;
    position: relative; }
    footer .contact-container .contact-row {
      margin-bottom: 3.5rem; }
      footer .contact-container .contact-row .detail-icon-contact {
        margin: 0 auto;
        border-radius: 5px;
        width: 70px;
        height: 70px;
        background: #fb005b;
        display: flex;
        align-items: center;
        justify-content: center; }
        footer .contact-container .contact-row .detail-icon-contact img {
          width: 25px;
          display: block;
          margin: 0 auto; }
      footer .contact-container .contact-row h5 {
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0; }
  footer .footer-info {
    margin-bottom: 2px;
    font-size: 0.8em; }
    footer .footer-info img {
      width: 12px; }

@media (max-width: 549px) {
  .section-content .article-skills .skills-container .skills-row .label-skills-columns .label-skills {
    text-align: left; } }

/*# sourceMappingURL=style.css.map */
