@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,100,700);

//VARIABEL
$light-blue: #2abbae;

//MIXIN
@mixin background-size(){
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

// GENERAL
body{
	color: #656565;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

.container{
	max-width: 1060px;
}
// END: GENERAL

// TEXT
.text-color-primary{
	color: $light-blue;
}
// END: TEXT

// HEADER
.header-cover{
	height: 650px;
	background: url(../img/file_gambar/cover_header.jpg) no-repeat bottom center;
	@include background-size;
	position: relative;

	.button-area{
		position: absolute;
		bottom: 0;
		left:0;
		right: 0;
		width: 100%;
		text-align: center;
		font-size: 50px;

		a{
			color: $light-blue;
			text-decoration: none;
			&:hover, &:focus{
				color: #209f94;
				text-decoration: none;
			}
		}
	}
	@extend .header-inner;
}

.header-inner{
	padding-top: 200px;
	text-align: center;
	color: #FFFFFF;	
	
	h1{
		font-weight: 300;
		font-size: 45px;

		strong{
			font-weight: 500;
		}
	}
}
// END: HEADER

// ABOUT
.about{
	padding-top: 100px;
	padding-bottom: 250px;
	background: #f0f0f0 url(../img/file_gambar/bg_about_2.png) no-repeat bottom right;
	font-size: 16px;

	h2{
		font-weight: 300;
		margin-bottom: 30px;

		strong{
			font-weight: 500;
		}
		p{
			margin-bottom: 30px;
		}		
	}
}

// END: ABOUT